* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
    background-color: #f0b19e;
    font-family: Raleway-medium, sans-serif;
}

.quote-box {
    font-family: Raleway-bold;
    position: relative;
    width: 45%;
    margin: 10% auto;
    padding: 2% 2%;
    background-color: #fff;
    border-radius: 7px;
}

.quote-box:after {
    display: block;
    padding-bottom: 100%;
}

.quote-text {
    font-size: 15px;
    margin: 5% auto;
}

#author {
    font-family: Raleway-medium;
    font-size: 10px;
    display: block;
    text-align: right;
    padding-bottom: 5%;
}

.buttons {
    padding: 0% 0%;
}

button#twitter {
    height: 30px;
    width: 30px;
    /*padding: 11px 10px;*/
    background-color: #f0b19e;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 90%;
}

i {
    color: #fff;
    text-align: center;
}

button#new-quote {
    font-family: Raleway-medium, sans-serif;
    height: 30px;
    width: 45px;
    background-color: #f0b19e;
    border-radius: 5px;
    border: none;
    color: #fff;
    float: right;
    cursor: pointer;
}